body {
    font-family: 'Ubuntu Mono', monospace;

    background-color: #fff;
    background-image: url("/background.png");
    background-attachment: scroll;
    background-repeat: repeat;
    background-size: auto;
}

.board {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 790px;
}

.cell {
    width: 150px;
    height: 150px;
    vertical-align: middle;
    font-size: 1.5rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    position: relative;
    border: 1px solid #000;
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}

.cell:hover {
    background-color: #000;
    color: #fff;
}

.cell.freespace {
    background-image: url("/fkface.webp");
    background-size: cover;
}

.cell.freespace.won {
    background-image: url("/fkface-red.png")
}

.cell.clicked .overlay {
    width: 100%;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
}

.results {
    font-size: 1.2rem;
}

.achieved {
    text-decoration: line-through;
}
